@model hospital_reservation_system.Models.AppointmentIndexViewModel
@await Html.PartialAsync("_logout")

<h4 class="mb-4 fw-bold text-center  p-4">
   Appointment Setup
</h4>

<div class="container my-4">
    @foreach(var doctor in Model.Doctors)
    {
        <div class="card mb-3">
            <div class="card-body">
                <h6 class="fw-bold">@doctor.Name</h6>
                @if (doctor.Appointments.Count() == 0)
                {
                    <p class="text-muted mb-0">No available times</p>
                }
                else
                {
                    foreach(var appointment in doctor.Appointments)
                    {
						// if the user is admin just show the time slots without link
                        if (Model.user.IsAdmin)
                        {
                            <a 
                               class="btn btn-outline-dark btn-sm me-2">
                                @appointment.SlotTime
                            </a>
                        }else
						
						// if the user is a patient redirect him to confirm the appointment
                        {
                            <a asp-controller="Appointment"
                               asp-action="Confirm"
                               asp-route-id="@appointment.Id"
                               class="btn btn-outline-dark btn-sm me-2">
                                @appointment.SlotTime
                            </a>
                        }
   
					}
                }
            </div>

          
        </div>
    }
    
    @if (Model.user.IsAdmin)
    {
        <div class="d-flex justify-content-between mt-3">
            <a asp-controller="Appointment"
               asp-action="Create"
               class="btn btn-outline-dark">
                Add New Appointment
            </a>

            <a asp-controller="Appointment"
               asp-action="Previous"
               class="btn btn-outline-dark">
                Previous Appoinments
            </a>


        </div>
    }


</div>